@charset "UTF-8"; /*１行目に書く*/

/*フォントサイズをユーザーアクセシビリティに準拠する宣言*/
html {
    font-size: 100%;
    scroll-behavior: smooth;
}

body {
    color: #383e45;
    font-size: 0.9rem;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

* {
    box-sizing: border-box;
}

.container {
    max-width: 960px;
    padding: 0 4%;
    margin: 0 auto ;
    text-align: center;
}

li {
    list-style: none;
}

.site-title {
    width: 120px;
    line-height: 1px;
    padding: 10px 0;
}

.site-title a {
    display: block;
}

.section-title {
    display: inline-block;
    border-bottom: 1px solid black;
    /* text-decoration: underline; */
    margin-bottom: 60px;
}

.picture-title {
    margin: 10px 0;
}

/*
header {
    height: 40px;
    border-bottom: 1px solid black;
}

header h1 {
    float: left;
    color: white;
    background-color: black;
    padding: 5px 10px;
    line-height: 40px;
}


header li {
    float: right;
}
*/

/* --------------
ヘッダー 
-------------------*/

#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

#header ul {
    display: flex;
    padding: 10px 0;
}

#header li {
    margin-left: 30px;
    /* color: blue; */
}

#header li a {
    color: blue;
}

#header li a:hover {
    opacity: 0.7;
}

/* -----------------
mainvisual
----------------- */

#mainvisual img {
    width: 100%;
    max-width: 1920px;
    height: 600px;
    /* max-width: 1920px; */
    object-fit: cover;
}

#mainvisual {
    margin-bottom: 80px;
}

/* -----------------
about
----------------- */

#about .picture {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 80px;
}

#about .picture-text {
    /* text-align: left; */
    margin-left: 30px;
}

#about .picture-title {
    /* margin: 10px 0; */
    text-align: left;
}

/* -----------------
bicycle
----------------- */

#bicycle .pictures {
    display: flex;
    margin-bottom: 80px;
    justify-content: space-between;
}

#bicycle .picture {
    width: 32%;
}

/* --------------------
media queries
-------------------- */

@media screen and (max-width: 600px) {
    #mainvisual img {
        height: calc(100ch - 60px);
    }

    #about .picture {
        flex-direction: column;
    }

    #about .picture-text {
        margin-left: 0;
    }

    #bicycle .pictures {
        flex-direction: column;
        gap: 30px;
    }

    #bicycle .picture {
        width: 100%;
    }
}