@charset "UTF-8";

html {
    font-size: 100%;
    scroll-behavior: unset;
}

* {
    box-sizing: border-box;
    /* border: solid 1px black; */
}

body {
    font-size: 0.875rem;
}

a {
    color: black;
    text-decoration: none;
}

img {
    max-width: 100%;
    vertical-align: bottom;
}

li {
    list-style: none;
}

.section-title {
    text-align: center;
    margin-bottom: 70px;
    font-size: 1.5rem;
}

.container {
    max-width: 960px;
    margin: 0 auto 130px;
    width: 92%;
}

/* -------------------------
header
----------------------- */

#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 130px;
}

.site-title {
    width: 120px;
    line-height: 1;
}

.site-title a {
    display: block;
}

#header ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}

.icon-instagram {
    width: 20px;
}

/* --------------------
mainvisual
-------------------- */
#mainvisual {
    margin-bottom: 87px;
}
.mainvisual-pc {
    height: 420px;
    object-fit: cover;
}

.mainvisual-sp {
    display: none;
}

/* -------------------
about
------------------- */
#about .text {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

/* ------------------
works
------------------ */

#works img {
    width: 32%;
}

#works .content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 1.8vw;
}

/* ---------------------
news
-------------------- */
.timeline-item {
    display: flex;
    align-items: flex-start;
    gap: 10%;
    border-top: solid 1px gray;
    padding: 17px;
}

.timeline-item:last-child {
    border-bottom: solid 1px gray;
}

/* ----------------------
contact
--------------------- */
#contact dl {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 30px;
}

.contact-item {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

#contact dd {
    width: 85%;
}

#contact dd input {
    height: 40px;
    width: 100%;
    padding: 10px;
    border: solid 1px gray;
}

#contact textarea {
    height: 160px;
    width: 100%;
    vertical-align: bottom;
    padding: 10px;
    border: solid 1px gray;
}

.button input {
    background-color: black;
    color: white;
    width: 200px;
    height: 50px;
    border: solid 1px black;
}

.button {
    text-align: center;
}

.button input:hover {
    color: black;
    background-color: white;
}

/* --------------------
footer
------------------- */
#footer {
    background-color: black;
    height: 35px;
    text-align: center;
}

#footer p {
    line-height: 35px;
    font-size: 0.625rem;
    color: white;
}

/* -----------------------
responsive
------------------------ */
@media screen and (max-width: 600px) {
    .container {
        margin-bottom: 70px;
    }

    .section-title {
        margin-bottom: 45px;
    }

    /* ----------------------
    header
    --------------------- */

    #header {
        flex-direction: column;
        gap: 15px;
        margin-bottom: 15px;
        margin-top: 20px;
    }

    #header ul {
        gap: 23px;
    }

    /* ------------------
    mainvisual
    ------------------ */
    .mainvisual-pc{
        display: none;
    }

    .mainvisual-sp {
        display: inline;
    }

    /* -------------------
    works
    ------------------- */
    #works .content {
        flex-direction: column;
        gap: 20px;
    }

    #works img {
        width: 100%;
    }

    /* --------------------
    news
    -------------------- */

    .timeline-item {
        flex-direction: column;
    }

    /* -----------------
    contact
    ----------------- */
    .contact-item {
        flex-direction: column;
    }

    #contact dd {
        width: 100%;
    }
}